<h2>How to play the game...</h2>

<p>This is a two player game.
Each player plays a hand simultaneously, choosing from:
rock, paper or scissors. The player with the strongest hand
wins.
<br>
For example, rock will win against scissors because it
can smash the scissors! Rock will however lose against paper (paper covers the rock).
<br>
To play the game type into the address bar of the browser (after 'localhost/4567') game/player1's_hand/player2's_hand.
<br>
Then press enter to see who wins.
</p>
<h3>Have fun playing!!!</h3>
