<h1>Welcome to Rock, Paper, Scissors!!!</h1>

<nav>
  <ul>
    <li><a href="/rules">How to play the game</a></li>
    <li><a href="/game/rock/scissors">Example Game</a></li>
    <p>Click above to see what the result looks like when you play rock against scissors!</p>
  </ul>
</nav>
